<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Facebook.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA4986FD1D9463E8003C31DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA4987111D9463E9003C31DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA49871C1D9463E9003C31DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
